.homeouter{
    width: 100%;
    overflow: hidden;
}
.f1{
    display: flex;
    width: 100%;
    height: 70vh;
}
.f1f1Home{
    display: flex;
    align-items: center;
    width: 50%; 
    justify-content: center;
    flex-direction: column;
}
.f1f2Home{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;  
    flex-direction: column;
}
.f1f1p{
    text-align: center;
    width: 60%;
    margin-bottom: 30px;
    font-weight: 400;
}
.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.front{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1{    
    font-family: "Poppins";
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
@keyframes colorchange1 {
   
    33% {
      
       color: aqua; 
    }
    100%{
        color: black;
    }
    
   
  }
.h11{
    animation: colorchange1 9s infinite;
}
  @keyframes colorchange2 {
  
    33% {
    color: rgb(0, 0, 0);
     
    }
    66% {
      
      color: rgb(255, 251, 40);
    }
    
}
.h12{
    animation: colorchange2 9s infinite;
}
  @keyframes colorchange3 {
    66%{
        color: black;
    }
   
    98% {
      
      color: rgb(99, 60, 238);
    }
    100%{
      color: black;
    }
  }
.h13{
  animation: colorchange3 9s infinite;
}
.h1m{
    height: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 19px;
    color:rgb(119, 117, 117);
    text-align: center;
}
.fbutton{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:120px;
}
.fbi1{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding:12px 20px 12px 20px;
    text-align: center;
    border: none;
    color: white;
    font: 1em sans-serif;
    font-size: 21px;
    border-radius:4px;
    background-image: linear-gradient(to right, #65f67b 0%, #2faee4 51%, #0f7b83 100%);
    cursor: pointer;

}

